* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr: #1aeab6;
}

a {
    text-decoration: none;
    color: initial;
}

body {
    background-image: linear-gradient(to left, #eee, #eee 60%, var(--primary-clr), var(--primary-clr) 40%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;

    font-family: 'Poppins', sans-serif;
}

main {
    width: 80%;
    height: 80vh;

    margin: auto;
    margin-top: 10vh;


    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 0 20px #4446;
    position: relative;
}

.logo {
    width: 40%;
    text-align: center;
}

.logo p {
    padding: 1rem;
    font-weight: 700;
}

.login {
    width: 60%;
    margin: auto;
}

.need-help {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
}

.login h2 {
    text-align: center;
}

.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login form input{
    width: 80%;
    height: 2rem;
    font-size: 1.2rem;
    padding: 0 0.4rem;
}

input:focus, input:active {
    border: 1px solid gray;
    outline: none;
}

label {
    margin: 1rem 0 0.5rem;
    align-self: flex-start;
    margin-left: 10%;
    font-weight: 600;
}

form a {
    align-self: flex-end;
    top: 1rem;
    right: 10%;
    position: relative;
}

.btn {
    margin-top: 3rem;
    background: var(--primary-clr);
    font-weight: 600;
    border: none;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;

    cursor: pointer;
}
